<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Work+Sans:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>DW Fan Site</title>
</head>
<body>
    <header>
        <!-- TOP NAVBAR -->
        <nav>
            <div class="nav-wrapper orange darken-2">
              <a href="#!" class="brand-logo">David Walliams Fan Site</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('books') }}">Library</a></li>
        {% if session.admin %}
                <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
                <li><a href="{{ url_for('admin') }}">admin</a></li>
                <li>|</li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
        {% elif session.name %}
                <li><a href="{{ url_for('profile', usernameIn=session['name']) }}">Profile</a></li>
                <li>|</li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
                <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
                <li><a href="{{ url_for('sign_up') }}">Sign-Up</a></li>
                <li>|</li>
                <li><a href="{{ url_for('login') }}">login</a></li>
        {% endif %}
       
              </ul>
            </div>
        </nav>

        <!-- MOBILE SIDENAV -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('books') }}">Library</a></li>
        {% if session.admin %}
            <li><a href="{{ url_for('admin') }}">admin</a></li>
            <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
        {% elif session.name %}
            <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
            <li><a href="{{ url_for('profile', usernameIn=session['name']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('sign_up') }}">Sign-Up</a></li>
            <li><a href="{{ url_for('login') }}">login</a></li>
        {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes_messsage">
                        <h4 class="light-blue lighten-2 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer orange lighten-3">
        <div class="container deep-orange-text text-darken-4">
            <a class="deep-orange-text text-darken-4 right" target="_blank" href="https://en-gb.facebook.com/">Facebook</a>
            <a class="deep-orange-text text-darken-4 right" target="_blank" href="https://www.instagram.com/">Instagram &nbsp;</a>
            <a class="deep-orange-text text-darken-4 right" target="_blank" href="https://twitter.com/?lang=en">Twitter &nbsp;</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>