<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Work+Sans:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>DW Fan Site</title>
</head>
<body>
    <header>
        <!-- TOP NAVBAR -->
        <nav>
            <div class="nav-wrapper orange darken-2">
              <a href="#!" class="brand-logo">David Walliams Fan Site</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('books') }}">Library</a></li>
                <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
              </ul>
            </div>
        </nav>

        <!-- MOBILE SIDENAV -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('books') }}">Library</a></li>
            <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
        </ul>
    </header>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer deep-orange lighten-3">
        <div class="footer-copyright orange darken-2">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" target="_blank" href="https://en-gb.facebook.com/">Facebook</a>
          <a class="grey-text text-lighten-4 right" target="_blank" href="https://www.instagram.com/">Instagram</a>
          <a class="grey-text text-lighten-4 right" target="_blank" href="https://twitter.com/?lang=en">Twitter</a>
          </div>
        </div>
      </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>