{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">Library</h3>

<div class="row">
    {% for book in books %}
    <div class="col s12 m6 l3">
      <div class="card amber lighten-2 center-align">
        <div class="card-content black-text">
          <span class="card-title">{{ book.book_name }}</span>
        </div>
        <div class="card-action blue-text">
          <a href="#" class="btn-small light-blue darken-2">Edit</a>
          <a href="#" class="btn-small red">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


{% endblock %}