{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card amber lighten-2">
            <div class="card-content black-text center-align">
                <h3>Welcome to the David Walliams Fan Site</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6 center-align">
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/david_walliams.jpg') }}" alt="Image of David Walliams">
            </div>
            <div class="card-content">
              <p>David Walliams with a copy of Gangsta Granny.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card deep-orange lighten-3">
            <div class="card-content black-text center-align">
                <span class="card-title"><strong>About us</strong></span>
                <br>
                <p>The David Walliams Fan Site was setup for likeminded individuals that enjoy the best-selling literacy collection by the author, actor, comedian and television personality.</p>
                <br>
                <p>Head to the<a class="blue-text text-darken-4" href="{{ url_for('sign_up') }}">sign_up</a> page and create your own profile page. Add your favourite books, comments and enjoy interacting and discussing the stories with other users.</p>
                <br>
                <p>The<a class="blue-text text-darken-4" href="{{ url_for('books') }}">library</a> page has many of the popular books available for you to review and look for recommendations.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card amber lighten-2">
            <div class="card-content black-text center-align">
                <p>For uptodate information on new releases and adding to your collection of David Walliams books then head to the<a class="blue-text text-darken-4" href="https://www.worldofdavidwalliams.com/books/">offical World of David Walliam</a> website</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}